<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Homepage!</title>
</head>
<body>
    <h1>Recipes will go here!</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>directions</th>
                <th>ingredients</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe: ${recipes}">
                <td th:text="${recipe.id}"></td>
                <td th:text="${recipe.name}"></td>
                <td th:text="${recipe.directions}"></td>
                <td th:text="${recipe.getIngredients().size()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>